.background {
    background-image: url('restaurant-homepage.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
}

.searchFields {
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin  : 0 auto;
    padding-top: 20px;
}

.searchFields input {
    background-color: #fff;
}

.dropdownCountries {
    margin-left: 20px;

}